__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.pytest_cache/
.mypy_cache/

checkpoint/
checkpoints/
model/*.pth
*.pth

tokenizer/tokenizer/
pretrain/checkpoint/
sft/checkpoint/
dpo/checkpoint/
lora/checkpoint/

Thumbs.db
.DS_Store
